/* ダブルタップ禁止 */
html {
  touch-action: manipulation;
}
/* 文字選択禁止 */
body {
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
}
/* スマホ画像長押し禁止 */
img {
  user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
}
body {
  margin: 0;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  max-width: 1920px;
  min-width: 850px;
}
/* タイトル範囲 */
.title_area {
  position: relative;
}
/* タイトル画像 */
.title {
  width: auto;
  height: 100vh;
  z-index: 0;
}
.kiyaku {
  position: absolute;
  width: auto;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.kiyaku_title{
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  font-size: 8vh;
  color: #3d2525;
  top: 12vh;
  left: 74vh;
  z-index: 1;
}
.kiyaku_setumei{
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  font-size: 4vh;
  color: #3d2525;
  top: 37vh;
  left: 59vh;
  z-index: 1;
}
.agree,.agree_black,.agree_check {
  position: absolute;
  top: 60vh;
  left: 70vh;
  width: 39vh;
  height: 13vh;
  z-index: 2;
}
.agree_black,.agree_check{
  display: none;
}
.ok_btn,.ok_btn_black {
  position: absolute;
  top: 76vh;
  left: 74.5vh;
  width: 30vh;
  height: 12vh;
  z-index: 2;
}
.ok_btn{
  display: none;
}