/* ダブルタップ禁止 */
html {
  touch-action: manipulation;
}
/* 文字選択禁止 */
body {
  user-select:none;
  -webkit-user-select:none;
  -ms-user-select: none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
}
/* スマホ画像長押し禁止 */
img {
  user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
}
body {
  margin: 0;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  max-width: 1920px;
  min-width: 1920px;
}
/* タイトル範囲 */
.title_area {
  position: relative;
  width: 100%;
  display: none;
}
/* タイトル画像 */
.title {
  width: 100%;
  z-index: 0;
}
.kiyaku {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.kiyaku_title{
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  font-size: 70px;
  color: #3d2525;
  top: 140px;
  left: 830px;
  z-index: 1;
}
.kiyaku_setumei{
  position: absolute;
  font-family: "HGSｺﾞｼｯｸE","ヒラギノ丸ゴ ProN";
  font-size: 40px;
  color: #3d2525;
  top: 400px;
  left: 670px;
  z-index: 1;
}
.agree,.agree_black,.agree_check {
  position: absolute;
  top: 660px;
  left: 770px;
  width: 380px;
  z-index: 2;
}
.agree_black,.agree_check{
  display: none;
}
.ok_btn,.ok_btn_black {
  position: absolute;
  top: 820px;
  left: 820px;
  width: 280px;
  z-index: 2;
}
.ok_btn{
  display: none;
}